/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

/* firago-latin-400-normal */
@font-face {
  font-family: "FiraGO400";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff2);
}
body {
  background-color: #f5f5f5;
}

.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1800px) {
  .container {
    width: 91.67%;
  }
}

.main-content-wrapper {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding-top: 64px;
}
@media (max-width: 1800px) {
  .main-content-wrapper {
    width: 91.67%;
  }
}
.main-content-wrapper .filter-books-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-content-wrapper .filter-books-wrapper .filter-section {
  max-width: 402px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .search-container {
  position: relative;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .search-container .search-icon {
  position: absolute;
  padding: 0 12px 0 20px;
  top: 50%;
  transform: translateY(-50%);
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .search-container input[type=text] {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #333333;
  padding: 0 50px;
  font-family: FiraGo400;
  font-size: 20px;
  color: 333333;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .search-container input[type=text]::-moz-placeholder {
  color: rgba(60, 60, 67, 0.6);
  font-family: FiraGO400;
  font-size: 20px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .search-container input[type=text]::placeholder {
  color: rgba(60, 60, 67, 0.6);
  font-family: FiraGO400;
  font-size: 20px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .blue-button {
  width: 100%;
  height: 61px;
  background-color: #0468dc;
  color: #FFFFFF;
  font-family: "FiraGo400";
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .dropdown-button {
  width: 100%;
  height: 59px;
  border: 2px solid #0468dc;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .buttons-section .dropdown-button .dropdown-text {
  color: #0468dc;
  font-size: 24px;
  font-family: FiraGo400;
}
.main-content-wrapper .filter-books-wrapper .filter-section .clean-filters {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 11px 0 19px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .clean-filters .clean-filters-text {
  color: rgba(60, 60, 67, 0.6);
  font-family: FiraGo600;
  font-size: 1rem;
}
.main-content-wrapper .filter-books-wrapper .filter-section .dropdownUnderline {
  width: 100%;
  height: 2px;
  background-color: #D8EBFC;
  border-radius: 2px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper h2 {
  color: #333333;
  font-size: 24px;
  font-family: FiraGo700;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .dropdown {
  display: flex;
  flex-direction: column;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .dropdown label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  font-family: FiraGo400;
  color: #333333;
  position: relative;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .dropdown label:not(:last-child) {
  margin-bottom: 15px;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .dropdown label input[type=checkbox] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  cursor: pointer;
  border: 2px solid rgba(60, 60, 67, 0.3764705882);
  border-radius: 3px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .dropdown label input[type=checkbox]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .dropdown label input[type=checkbox]:checked::before {
  background-color: #0077ff;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .dropdown label input[type=checkbox]:checked {
  background-color: #0077ff;
  border: 2px solid #0077ff;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .dropdown label input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 14px;
  border: solid #ffffff;
  border-width: 0 2.5px 2.5px 0;
  transform: translate(-40%, -60%) rotate(45deg);
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper img {
  rotate: 270deg;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid rgba(60, 60, 67, 0.6);
  border-radius: 8px;
  width: 145px;
  height: 54px;
  padding: 17px 16px;
  cursor: pointer;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label .calendar-icon {
  margin-right: 10px;
  rotate: 0deg;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label p {
  font-size: 16px;
  font-family: FiraGo400;
  color: rgba(60, 60, 67, 0.6);
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label input[type=date] {
  position: absolute;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 10;
  width: 10px;
  cursor: pointer;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label input[type=date]::-webkit-inner-spin-button, .main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label input[type=date]::-webkit-clear-button {
  display: none;
}
.main-content-wrapper .filter-books-wrapper .filter-section .media-type-section .dropdown-section-wrapper .publish-date .date-wrapper .date-input-container label input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}
.main-content-wrapper .filter-books-wrapper .books-section {
  max-width: 1230px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 30px;
}
.main-content-wrapper .filter-books-wrapper .books-section .card {
  position: relative;
  margin: 0;
  border: 1px solid rgba(51, 51, 51, 0.3764705882);
  border-radius: 10px;
  overflow: hidden;
}
.main-content-wrapper .filter-books-wrapper .books-section .card .book-cover {
  width: 260px;
  height: 367px;
}
.main-content-wrapper .filter-books-wrapper .books-section .card .book-info {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.main-content-wrapper .filter-books-wrapper .books-section .card .book-info .book-views {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  padding: 15px 12px 0 0;
}
.main-content-wrapper .filter-books-wrapper .books-section .card .book-info .book-views p {
  color: #ffffff;
  font-family: FiraGo700;
  font-size: 1rem;
}
.main-content-wrapper .filter-books-wrapper .books-section .card .book-info .title-share {
  background-color: white;
  padding: 12px 12px 16px;
}
.main-content-wrapper .filter-books-wrapper .books-section .card .book-info .title-share .title-share-default {
  display: flex;
  justify-content: space-between;
}
.main-content-wrapper .filter-books-wrapper .books-section .card .book-info .title-share .title-share-default h2 {
  font-family: FiraGo600;
  color: #333333;
  font-size: 1rem;
}
.main-content-wrapper .filter-books-wrapper .books-section .card .book-info .title-share .title-share-hover {
  padding-top: 4px;
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}
.main-content-wrapper .filter-books-wrapper .books-section .card .book-info .title-share .title-share-hover p {
  color: rgba(60, 60, 67, 0.6);
  font-family: FiraGo400;
  font-size: 0.75rem;
  padding: 4px 0 12px;
}
.main-content-wrapper .filter-books-wrapper .books-section .card .book-info .title-share .title-share-hover span {
  color: rgba(60, 60, 67, 0.6);
  font-family: FiraGo400;
  font-size: 0.75rem;
}
.main-content-wrapper .pagination-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 124px 0 112px;
}
.main-content-wrapper .pagination-container .pagination-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-content-wrapper .pagination-container .pagination-wrapper * {
  cursor: pointer;
}
.main-content-wrapper .pagination-container .pagination-wrapper p {
  font-size: 24px;
  font-weight: 500;
  color: #022859;
  padding: 5px 10px;
  border-radius: 8px;
}
.main-content-wrapper .pagination-container .pagination-wrapper p.active {
  background-color: #064aa2;
  color: white;
}
.main-content-wrapper .pagination-container .pagination-wrapper img:last-child {
  rotate: 180deg;
}

.landing-photo-wrapper {
  width: 100%;
  height: 294px;
  overflow: hidden;
  position: relative;
}
.landing-photo-wrapper .landing-photo {
  width: 100%;
  height: 294px;
  -o-object-fit: cover;
     object-fit: cover;
}
.landing-photo-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

header {
  height: 96px;
  background-color: #0077ff;
}
@media (max-width: 1200px) {
  header {
    height: 120px;
  }
}
@media (max-width: 768px) {
  header {
    height: 80px;
  }
}
@media (max-width: 480px) {
  header {
    height: 90px;
  }
}
header .header_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_wrapper .header_components {
  width: 100%;
  height: 47.21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_wrapper .header_components .logo {
  height: 100%;
  width: 11.83%;
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .logo {
    width: 14.48%;
  }
}
header .header_wrapper .header_components .logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header_wrapper .header_components .navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 92px;
       column-gap: 92px;
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .navigation nav ul {
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
}
header .header_wrapper .header_components .navigation nav li a {
  font-family: FiraGo500;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.3764705882);
  transition: color 0.5s;
}
header .header_wrapper .header_components .navigation nav li a:hover {
  color: #ffffff;
}
@media (max-width: 1200px) {
  header .header_wrapper .header_components .navigation nav li a {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .navigation nav li a {
    font-size: 14px;
    line-height: 16.3px;
  }
}
header .header_wrapper .header_components .navigation nav li .active-header {
  color: #ffffff;
}
@media (max-width: 600px) {
  header .header_wrapper .header_components .navigation {
    display: none;
  }
}
header .header_wrapper .burger_menu {
  width: 18px;
  height: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
}
@media (max-width: 600px) {
  header .header_wrapper .burger_menu {
    display: flex;
  }
}
header .header_wrapper .burger_menu .line {
  width: 100%;
  height: 1.5px;
  border-radius: 2px;
  background-color: #ffffff;
}

.footer-main-info {
  background-color: #0077ff;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}
.footer-main-info .container {
  padding: 88px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-main-info .container .contacts-container {
  display: flex;
  flex-direction: column;
}
.footer-main-info .container .contacts-container .contacts-wrapper {
  margin-top: 40px;
}
.footer-main-info .container .contacts-container .contacts-wrapper .contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-main-info .container .contacts-container .contacts-wrapper .contacts:not(:last-child) {
  margin-bottom: 22px;
}
.footer-main-info .container .contacts-container .contacts-wrapper .contacts p,
.footer-main-info .container .contacts-container .contacts-wrapper .contacts a {
  margin-left: 16px;
}
.footer-main-info .container .contacts-container .contacts-wrapper .contacts a {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}
.footer-main-info .container .usage-container {
  display: flex;
  flex-direction: column;
}
.footer-main-info .container .usage-container a {
  color: white;
  cursor: pointer;
}
.footer-main-info .container .usage-container a:not(:last-child) {
  margin-bottom: 22px;
}
.footer-main-info .container .unilab-team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-main-info .container .unilab-team-container .logo-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-main-info .container .unilab-team-container p {
  margin-top: 24px;
  font-size: 14px;
  line-height: 16.8px;
}

.footer-additional-info {
  background-color: #064aa2;
  color: white;
}
.footer-additional-info .container {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-additional-info .container p {
  font-size: 18px;
  line-height: 21.6px;
  font-weight: 700;
}

.book-main {
  background-color: #f5f5f5;
}
.book-main .book-container {
  padding: 76px 6.2% 63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 72px;
  background-color: #f5f5f5;
}
.book-main .book-container .cover-wrapper {
  display: flex;
  flex-direction: column;
}
.book-main .book-container .cover-wrapper img {
  width: 504px;
  height: 685px;
  margin-bottom: 44px;
  border-radius: 20px;
}
.book-main .book-container .cover-wrapper button {
  background-color: #203a9c;
  color: #fff;
  padding: 32px 116px;
  border-radius: 20px;
  font-size: 24px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-family: "FiraGO400", sans-serif;
}
.book-main .book-container .info-wrapper {
  display: flex;
  flex-direction: column;
}
.book-main .book-container .info-wrapper .main-info {
  display: flex;
  flex-direction: column;
}
.book-main .book-container .info-wrapper .main-info h3 {
  margin-bottom: 28px;
  font-family: "FiraGO400", sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #000;
}
.book-main .book-container .info-wrapper .main-info p {
  margin-bottom: 40px;
  font-family: "FiraGO400", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #555;
}
.book-main .book-container .info-wrapper .main-info .book-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.book-main .book-container .info-wrapper .main-info .book-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.book-main .book-container .info-wrapper .main-info .book-info div img {
  width: 20px;
  height: 17.5px;
}
.book-main .book-container .info-wrapper .main-info .book-info div span {
  font-family: "FiraGO400", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}
.book-main .book-container .info-wrapper .button-wrapper {
  margin: 75px 0 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 46px;
}
.book-main .book-container .info-wrapper .button-wrapper button {
  background-color: red;
  color: #000;
  padding: 0 0 7px;
  border: none;
  border-radius: 0;
  font-family: "FiraGO";
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.book-main .book-container .info-wrapper .button-wrapper button:active {
  color: #112f91;
}
.book-main .book-container .info-wrapper .button-wrapper button:focus {
  color: #112f91;
  border-bottom: #112f91 solid 3px;
}
.book-main .book-container .info-wrapper .anotation-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.book-main .book-container .info-wrapper .anotation-section p {
  margin-bottom: 32px;
  font-family: "FiraGO400", sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
}
.book-main .book-container .info-wrapper .anotation-section div {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.book-main .book-container .info-wrapper .anotation-section div span {
  font-family: "FiraGO400", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}
.book-main .book-container .info-wrapper .feature-section ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.book-main .book-container .info-wrapper .feature-section ul li {
  padding-bottom: 16px;
  border-bottom: 1px dashed #d0d0d0;
  font-family: "FiraGO400", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #000;
}
.book-main .book-container .info-wrapper .feature-section ul li:last-child {
  border-bottom: 0;
}
.book-main .book-container .info-wrapper .searching-section {
  margin-top: 40px;
}
.book-main .book-container .info-wrapper .searching-section .each_content_line {
  display: flex;
  justify-content: space-between;
}
.book-main .book-container .info-wrapper .searching-section .each_content_line p {
  margin-bottom: 34px;
  font-family: "FiraGO400", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  line-height: 21.6px;
}
.book-main .book-container .info-wrapper .searching-section .each_content_line p:nth-child(2) {
  letter-spacing: 0.25em;
}
.book-main .book-container .info-wrapper .anotation-section,
.book-main .book-container .info-wrapper .feature-section,
.book-main .book-container .info-wrapper .searching-section {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
  opacity: 0;
}
.book-main .book-container .info-wrapper .open {
  max-height: 100%;
  opacity: 1;
}
.book-main .similar-books {
  margin-bottom: 179px;
  padding: 36px 6.8%;
  background-color: #fff;
}
.book-main .similar-books h3 {
  margin-bottom: 48px;
  font-family: "FiraGO400", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #000;
}
.book-main .similar-books .cards-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.book-main .similar-books .cards-wrapper .card {
  border-radius: 10px;
  border: solid 1px #c2c2c2;
  background-color: #fff;
}
.book-main .similar-books .cards-wrapper .card img {
  width: 275px;
  height: 420px;
}
.book-main .similar-books .cards-wrapper .card div {
  padding: 16px;
}
.book-main .similar-books .cards-wrapper .card div h4 {
  margin-bottom: 40px;
  font-family: "FiraGO400", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.book-main .similar-books .cards-wrapper .card div p {
  margin-bottom: 22.5px;
  font-family: "FiraGO400", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}
.book-main .similar-books .cards-wrapper .card div div {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.book-main .similar-books .cards-wrapper .card div div span {
  font-family: "FiraGO400", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}
.book-main .similar-books .cards-wrapper .card div div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5;
}
.book-main .similar-books .cards-wrapper .card div div div img {
  width: 22px;
  height: 15px;
}
.book-main .similar-books .cards-wrapper .card div div div span {
  font-family: "FiraGO400", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #13297f;
}

.about-main {
  font-family: FiraGo400;
}
.about-main .landing-photo-wrapper::before {
  display: none;
}
.about-main section {
  margin-bottom: 40px;
}
.about-main h2 {
  margin-bottom: 16px;
  color: #0468dc;
  font-family: inherit;
  font-size: 40px;
  font-weight: bold;
  line-height: normal;
}
.about-main p,
.about-main .instructions-page li {
  color: #333333;
  font-family: inherit;
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  line-height: 1.5;
}
.about-main .about-project-section article > p:last-child {
  margin-top: 45px;
}
.about-main .instructions-page ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.about-main .contacts-section {
  margin-bottom: 64px;
}
.about-main .contacts-section > div {
  display: grid;
  grid-template-columns: 45fr 55fr;
}
.about-main .contacts-section > div ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-direction: column;
  padding: 30px 0;
}
.about-main .contacts-section > div ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about-main .contacts-section > div ul li a {
  color: #333333;
  font-family: inherit;
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  font-family: Firago500;
  line-height: 26px;
}
.about-main .contacts-section > div ul img {
  width: 40px;
  aspect-ratio: 1;
}
.about-main .contacts-section > div .iframe-div {
  display: flex;
}
.about-main .contacts-section > div iframe {
  flex: 1;
  width: 100%;
  height: 288px;
  border-radius: 10px;
  border: 2px solid #0468dc;
}

body {
  background-color: #f5f5f5;
}

.error-main-container {
  min-height: calc(100dvh - 96px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-main-container .error-message {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.error-main-container .error-message h1 {
  color: #022859;
  font-family: FiraGo700;
  font-size: 3rem;
}
.error-main-container .error-message p {
  color: #0468dc;
  font-family: FiraGo700;
  font-size: 1.5rem;
  text-decoration-line: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}/*# sourceMappingURL=global.css.map */