/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1800px) {
  .container {
    width: 91.67%;
  }
}

.main-content-wrapper {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding-top: 64px;
}
@media (max-width: 1800px) {
  .main-content-wrapper {
    width: 91.67%;
  }
}
.main-content-wrapper .search-sort-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-content-wrapper .search-sort-div .search-div {
  position: relative;
  display: flex;
  flex-direction: row;
}
.main-content-wrapper .search-sort-div .search-div input {
  width: 361px;
  height: 62px;
  border-radius: 14px;
  padding: 14px 15px 14px 60px;
  border: 1.5px solid #000000;
  font-size: 18px;
}
.main-content-wrapper .search-sort-div .search-div input:focus {
  outline: none;
}
.main-content-wrapper .search-sort-div .search-div img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.main-content-wrapper .search-sort-div .sort-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-content-wrapper .search-sort-div .sort-div p {
  font-size: 18px;
}
.main-content-wrapper .search-sort-div .sort-div img {
  cursor: pointer;
}
.main-content-wrapper .filter-books-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}
.main-content-wrapper .filter-section {
  width: 100%;
  max-width: 360px;
  margin-right: 90px;
}
.main-content-wrapper .books-section {
  width: 100%;
  max-width: 1230px;
  background-color: white;
  padding: 24px 29px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 275px);
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 34px;
}
.main-content-wrapper .books-section .card .book-cover {
  height: 420px;
}
.main-content-wrapper .books-section .card .book-info {
  width: 100%;
  padding: 16px;
  margin-top: -3px;
  border: 1px solid #c2c2c2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main-content-wrapper .books-section .card .book-info h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 20px;
}
.main-content-wrapper .books-section .card .book-info p {
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
}
.main-content-wrapper .books-section .card .book-info .book-additional-info {
  margin-top: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-content-wrapper .books-section .card .book-info .book-additional-info .book-views {
  display: flex;
  flex-direction: row;
}
.main-content-wrapper .books-section .card .book-info .book-additional-info .book-views p {
  color: #13297f;
  font-weight: 700;
  margin-left: 4px;
}
.main-content-wrapper .pagination-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 124px 0 112px;
}
.main-content-wrapper .pagination-container .pagination-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-content-wrapper .pagination-container .pagination-wrapper * {
  cursor: pointer;
}
.main-content-wrapper .pagination-container .pagination-wrapper p {
  font-size: 24px;
  font-weight: 500;
  color: #022859;
  margin-right: 10px;
}
.main-content-wrapper .pagination-container .pagination-wrapper p.active {
  background-color: #064aa2;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
}
.main-content-wrapper .pagination-container .pagination-wrapper img {
  margin-right: 5px;
}
.main-content-wrapper .pagination-container .pagination-wrapper img:last-child {
  rotate: 180deg;
  margin-right: 0;
}

header {
  height: 200px;
  background-color: #162974;
}
@media (max-width: 1200px) {
  header {
    height: 120px;
  }
}
@media (max-width: 768px) {
  header {
    height: 80px;
  }
}
@media (max-width: 480px) {
  header {
    height: 48px;
  }
}
header .header_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_wrapper .header_components {
  width: 100%;
  height: 47.21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_wrapper .header_components .logo {
  height: 100%;
  width: 11.83%;
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .logo {
    width: 14.48%;
  }
}
header .header_wrapper .header_components .logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header_wrapper .header_components .navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 92px;
       column-gap: 92px;
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .navigation nav ul {
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
}
header .header_wrapper .header_components .navigation nav li a {
  /* font-family: */
  font-weight: 800;
  font-size: 28px;
  line-height: 38.4px;
  color: #f5f5f5;
}
@media (max-width: 1200px) {
  header .header_wrapper .header_components .navigation nav li a {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .navigation nav li a {
    font-size: 14px;
    line-height: 16.3px;
  }
}
@media (max-width: 600px) {
  header .header_wrapper .header_components .navigation {
    display: none;
  }
}
header .header_wrapper .burger_menu {
  width: 18px;
  height: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
}
@media (max-width: 600px) {
  header .header_wrapper .burger_menu {
    display: flex;
  }
}
header .header_wrapper .burger_menu .line {
  width: 100%;
  height: 1.5px;
  border-radius: 2px;
  background-color: #ffffff;
}/*# sourceMappingURL=global.css.map */