/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Work Sans", sans-serif;
  background-color: #f7f7f7;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1800px) {
  .container {
    width: 91.67%;
  }
}

header {
  height: 200px;
  background-color: #162974;
}
@media (max-width: 1200px) {
  header {
    height: 120px;
  }
}
@media (max-width: 768px) {
  header {
    height: 80px;
  }
}
@media (max-width: 480px) {
  header {
    height: 48px;
  }
}
header .header_wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header_wrapper .header_components {
  width: 100%;
  height: 47.21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header_wrapper .header_components .logo {
  height: 100%;
  width: 13.83%;
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .logo {
    width: 14.48%;
  }
}
header .header_wrapper .header_components .logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .header_wrapper .header_components .navigation nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 92px;
       column-gap: 92px;
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .navigation nav ul {
    -moz-column-gap: 48px;
         column-gap: 48px;
  }
}
header .header_wrapper .header_components .navigation nav li a {
  /* font-family: */
  font-weight: 800;
  font-size: 32px;
  line-height: 38.4px;
  color: #f5f5f5;
}
@media (max-width: 1200px) {
  header .header_wrapper .header_components .navigation nav li a {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  header .header_wrapper .header_components .navigation nav li a {
    font-size: 14px;
    line-height: 16.3px;
  }
}
@media (max-width: 600px) {
  header .header_wrapper .header_components .navigation {
    display: none;
  }
}
header .header_wrapper .burger_menu {
  width: 18px;
  height: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
}
@media (max-width: 600px) {
  header .header_wrapper .burger_menu {
    display: flex;
  }
}
header .header_wrapper .burger_menu .line {
  width: 100%;
  height: 1.5px;
  border-radius: 2px;
  background-color: #ffffff;
}/*# sourceMappingURL=global.css.map */