.footer-main-info {
  background-color: $header-background;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;

  .container {
    padding: 88px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .contacts-container {
      display: flex;
      flex-direction: column;

      .contacts-wrapper {
        margin-top: 40px;

        .contacts {
          display: flex;
          flex-direction: row;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 22px;
          }

          p,
          a {
            margin-left: 16px;
          }

          a {
            color: white;
            cursor: pointer;
            text-decoration: underline;
          }
        }
        @include responsive(l-tablet) {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-around;
        }
      }
    }

    .usage-container {
      display: flex;
      flex-direction: column;
      gap: 40px;

      a {
        color: white;
        cursor: pointer;

        @include responsive(l-tablet) {
          text-align: center;
          display: block;
          height: 100%;
        }
      }

      @include responsive(l-tablet) {
        flex-direction: row;
        justify-content: center;
        row-gap: 10px;
        column-gap: 35px;
        flex-wrap: wrap;
      }
    }

    .unilab-team-container {
      display: flex;
      flex-direction: column;
      justify-content: end;

      .logo-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 25px;

        img {
          height: 80px;
        }
      }

      p {
        margin-top: 12px;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 400;
        font-family: FiraGO400;
      }
    }

    @include responsive(l-tablet) {
      flex-direction: column;
      gap: 40px;
    }
  }
}

.footer-additional-info {
  background-color: #064aa2;
  color: white;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 18px;
      line-height: 21.6px;
      font-weight: 700;
    }
  }
}
