$header-blue: #0468dc;

.footer-main-info {
  background-color: $header-background;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;

  .container {
    // padding: 88px 0;
    padding: 46px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .contacts-container {
      display: flex;
      flex-direction: column;

      gap: 40px;
      h2 {
        @include text_font_style(#fff, FiraGo700, 22px, 700);
      }

      .contacts-wrapper {
        a {
          margin-bottom: 16px;

          @include flex(flex-start);
          gap: 20px;
          @include text_font_style(#fff, inherit, 16px, 400);
          font-family: Firago400;
          line-height: 26px;

          img {
            height: 40px;
            width: 40px;
            aspect-ratio: 1;
          }
        }
        .contacts {
          display: flex;
          flex-direction: row;
          align-items: center;

          &:not(:last-child) {
            margin-bottom: 22px;
          }

          p,
          a {
            margin-left: 16px;
          }

          a {
            color: white;
            cursor: pointer;
            text-decoration: underline;
          }
        }
        @include responsive(l-tablet) {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          justify-content: space-around;
        }

        li:nth-of-type(2),
        li:nth-of-type(4) {
          text-decoration: underline;
        }
        li:last-child a {
          margin-bottom: 0;
        }
      }
    }

    .usage-container {
      display: flex;
      flex-direction: column;
      gap: 40px;

      a {
        @include text_font_style(#fff, FiraGo700, 18px, 700);
      }
      a {
        color: white;
        cursor: pointer;
        @include text_font_style(#fff, FiraGo700, 18px, 700);

        @include responsive(l-tablet) {
          text-align: center;
          display: block;
          height: 100%;
        }
      }

      @include responsive(l-tablet) {
        flex-direction: row;
        justify-content: center;
        row-gap: 10px;
        column-gap: 35px;
        flex-wrap: wrap;
      }
    }

    .unilab-team-container {
      display: flex;
      flex-direction: column;
      justify-content: end;

      .logo-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 25px;

        img {
          height: 80px;
        }
      }

      p {
        margin-top: 12px;
        font-size: 14px;
        line-height: 16.8px;
        font-weight: 400;
        font-family: FiraGO400;
      }
    }

    @include responsive(l-tablet) {
      flex-direction: column;
      gap: 40px;
    }
  }
}

.footer-additional-info {
  background-color: $header-blue;

  // background-color: #064aa2;
  color: white;

  & > aside p {
    @include text_font_style(#fff, FiraGo300, 12px, 300);
    padding: 30px 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 18px;
      line-height: 21.6px;
      font-weight: 700;
    }
  }
}
