
//font
$font-family: 'FiraGO', sans-serif;

// colors
$header-background: #0077FF;
$nav-element-color: #FFFFFF60;
$nav-element-color-active: #FFFFFF;
$dark-blue-color: #022859;


// resolution
$desktop-large-screen: 1200px;
$laptop-small-screen: 1024px;
$tablet: 768px;
$mobile: 480px;
