<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library</title>

    <!-- css link -->
    <link rel="stylesheet" href="../styles/css/global.css" />
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="container header_wrapper">
        <div class="header_components">
          <!-- Logo -->
          <div class="logo">
            <a href="../index.html"
              ><img src="../assets/index.html/logo.svg" alt="logo"
            /></a>
          </div>

          <!-- Navigation -->
          <div class="navigation">
            <nav>
              <ul>
                <li><a href="#">მთავარი</a></li>
                <li><a href="#">პროექტის შესახებ</a></li>
              </ul>
            </nav>
          </div>

          <!-- Burger Menu Icon -->
          <div class="burger_menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main content -->

    <main class="book-main">
      <section class="book-container">
        <div class="cover-wrapper">
          <img src="../assets/book-card-img.png" alt="book cover image" />
          <button>
            <a href="flip-page.html" style="text-decoration: none; color: white"
              >წაკითხვა (PDF)</a
            >
          </button>
        </div>
        <div class="info-wrapper">
          <div class="main-info">
            <h3>
              THE EVALUATION AND LIFETIME APPOINTMENT OF JUDGES ON PROBATION:
              Assessment of the Legislation and Practice
            </h3>
            <p>იმანუელ კანტი | წელი</p>
            <div class="book-info">
              <div>
                <img src="../assets/book-icon.svg" alt="book icon" />
                <span>გვერდების რადენობა: 47</span>
              </div>
              <div>
                <img src="../assets/language-icon.svg" alt="language icon" />
                <span>ენა: ქართული</span>
              </div>
              <div>
                <img
                  src="../assets/book-check-icon.svg"
                  alt="book check icon"
                />
                <span>გამომცემლობა: ილიაილიაილია</span>
              </div>
            </div>
          </div>
          <div class="button-wrapper">
            <button id="anotation">ანოტაცია</button>
            <button id="search">სარჩევი</button>
            <button id="feature">მახასიათებლები</button>
          </div>
          <div class="anotation-section open">
            <p>
              ილია ჭავჭავაძის გამომცემლობის ვებ-გვერდი, სახელწოდება და ქვედა
              ტექსტი: ილია ჭავჭავაძის გამომცემლობის ვებ-გვერდი - არის ონლაინ
              ბიბლიოთეკა, რომელშიც თავმოყრილი იქნება ილია ჭავჭავაძის წიგნები.
              ონლაინ წიგნების საცავი საშუალებას მისცემს უნივერსიტეტში არსებულ
              მკლევარებს, სტუდენტებსა და პროფესორებს, რომ წაიკითხონ, გაეცნონ და
              გამოიკვლიონ, ილია ჭავჭავაძის წიგნები და სამომავლოდ დაემატება,
              ნათარგმნები, ხელწერები, ჟურნალები, წერილები და ა.შ. ონლაინ
              ბიბლიოთეკა იქნება ელექტრონული საცავი, რომელიც გაამარტივებს წვდომას
              ილია ჭავჭავაძის რესურსებთან.
            </p>
            <div>
              <span> © ილიას სახელმწიფო უნივერსიტეტის </span>
              <span> გ.წერეთლის აღმოსვლეთმცოდნეობის ინსტიტუტი </span>
              <span>
                G.Tsereteli Institute of Oriental Studies of the Ilia State
                University
              </span>
            </div>
          </div>

          <!-- სარჩევის დიზაინი არაა -->
          <div class="searching-section">
            <div class="each_content_line">
              <p>თავი 1. შესავალი თანამედროვე აზროვნებაში</p>
              <p>............................</p>
              <p>გვ.3</p>
            </div>

            <div class="each_content_line">
              <p>თავი 2. წინათქმა</p>
              <p>.........................................................</p>
              <p>გვ.6</p>
            </div>

            <div class="each_content_line">
              <p>თავი 3. მეორე ტრაქტატი სამოქალაქსო მმართველობაზე</p>
              <p>.................</p>
              <p>გვ.11</p>
            </div>
          </div>

          <!-- feature section -->
          <div class="feature-section">
            <ul>
              <li>ავტორი:</li>
              <li>სათაური:</li>
              <li>გამოცემის ადგილი:</li>
              <li>გამომცემლობა:</li>
              <li>გამოცემის წელი:</li>
              <li>ენა:</li>
              <li>ISBN:</li>
              <li>ISSN:</li>
              <li>ჟურნალის სახელწოდება:</li>
              <li>კრებულის სახელწოდება:</li>
              <li>ნომერი:</li>
              <li>სერია:</li>
              <li>ჟანრი:</li>
              <li>გამოცემა:</li>
              <li>პასუხისმგებელი პირი:</li>
              <li>პასუხისმგებელი ორგანიზაცია:</li>
              <li>ტომი:</li>
              <li>ტირაჟი:</li>
              <li>წინასიტყვაობა:</li>
              <li>ფიზიკური აღწერილობა:</li>
              <li>სარჩევი:</li>
              <li>ბმული:</li>
              <li>ანოტაცია:</li>
              <li>დამატებითი ინფორმაცია:</li>
            </ul>
          </div>
        </div>
      </section>

      <section class="similar-books">
        <h3>მსგავსი წიგნები</h3>
        <div class="cards-wrapper">
          <div class="card">
            <img src="../assets/marx.png" alt="author photo" />
            <div>
              <h4>კარლ მარქსი</h4>
              <p>გამომცემლობა</p>
              <div>
                <span>2024</span>
                <div>
                  <img src="../assets/mdi_eye.svg" alt="seen icon" />
                  <span>29</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/jung.png" alt="author photo" />
            <div>
              <h4>კარლ გუსტავ იუნგი</h4>
              <p>გამომცემლობა</p>
              <div>
                <span>2024</span>
                <div>
                  <img src="../assets/mdi_eye.svg" alt="seen icon" />
                  <span>29</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/hobbes.png" alt="author photo" />
            <div>
              <h4>თომას ჰობსი</h4>
              <p>გამომცემლობა</p>
              <div>
                <span>2024</span>
                <div>
                  <img src="../assets/mdi_eye.svg" alt="seen icon" />
                  <span>29</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/freud.png" alt="author photo" />
            <div>
              <h4>ზიგმუნდ ფროიდი</h4>
              <p>გამომცემლობა</p>
              <div>
                <span>2024</span>
                <div>
                  <img src="../assets/mdi_eye.svg" alt="seen icon" />
                  <span>29</span>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="../assets/Schrödinger.png" alt="author photo" />
            <div>
              <h4>ერვინ შროდინგერი</h4>
              <p>გამომცემლობა</p>
              <div>
                <span>2024</span>
                <div>
                  <img src="../assets/mdi_eye.svg" alt="seen icon" />
                  <span>29</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <section class="footer-main-info">
        <div class="container">
          <div class="contacts-container">
            <p>კონტაქტი</p>
            <div class="contacts-wrapper">
              <div class="contacts">
                <img src="../assets/phone-icon.svg" alt="phone-icon" />
                <p>(+995 32) 222 00 09</p>
              </div>
              <div class="contacts">
                <img src="../assets/email-icon.svg" alt="email-icon" />
                <p>info@iliauni.edu.ge</p>
              </div>
              <div class="contacts">
                <img src="../assets/location-icon.svg" alt="location-icon" />
                <p>ქაქუცა ჩოლოყაშვილის 3/5</p>
              </div>
              <div class="contacts">
                <img src="../assets/link-icon.svg" alt="link-icon" />
                <a href="#">https://library.iliauni.edu.ge/</a>
              </div>
            </div>
          </div>
          <div class="usage-container">
            <a href="#">კონფიდენციალურობის პოლიტიკა</a>
            <a href="#">გამოყენების წესები</a>
          </div>
          <div class="unilab-team-container">
            <div class="logo-container">
              <img src="../assets/iliauni-logo.svg" alt="iliauni-logo" />
              <img src="../assets/unilab-logo.svg" alt="unilab-logo" />
            </div>
            <p>ვებსაიტზე იმუშავა უნილაბის გუნდმა</p>
          </div>
        </div>
      </section>
      <section class="footer-additional-info">
        <div class="container">
          <p>ილიას სახელმწიფო უნივერსიტეტი 2024. ყველა უფლება დაცულია.</p>
          <img src="../assets/facebook-icon.svg" alt="facebook-icon" />
        </div>
      </section>
    </footer>

    <!-- JavaScript link -->
    <script src="../js/book-details.js"></script>
  </body>
</html>
