<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/css/global.css">
</head>
<body>
    <header>
        <div class="header_wrapper container">
          <div class="header_components">
            <!-- Logo -->
            <div class="logo">
              <a href="../index.html"
                ><img src="../assets/index.html/logo.svg" alt="logo"
              /></a>
            </div>
  
            <!-- Navigation -->
            <div class="navigation">
              <nav>
                <ul>
                  <li><a href="../index.html">მთავარი</a></li>
                  <li><a href="#">პროექტის შესახებ</a></li>
                </ul>
              </nav>
            </div>
  
            <!-- Burger Menu Icon -->
            <div class="burger_menu">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>
      </header>
      <main>
        <section class="error-message">
            <h1>გვერდი ვერ მოიძებნა</h1>
            <a href="../index.html"><p>დაბრუნდი მთავარ გვერდზე</p></a>
        </section>
      </main>
</body>
</html>