<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flip page</title>
    <link rel="stylesheet" href="../styles/css/global.css" />

    <!-- page-flip cdn-->
    <script src="../node_modules/page-flip/dist/js/page-flip.browser.js"></script>
    <!-- pdfjs-lib cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.10.377/pdf.min.js"></script>
    <!-- boxicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <section class="flip-page-header">
        <a href="./book-details.html">
            <img src="../assets/flip-page/Vector.png" alt="გადადით უკან">
        </a>
        <div class="flip-navbar-right">
            <p class="main-chapter" id="main-chapter">ძირითადი ნაწილი</p>
            <div id="menu" style="cursor: pointer;">
                <img src="../assets/flip-page/burger-menu.png" alt="ჩამონათვალი">
            </div>

            <a href="../assets/flip-page/განდეგილი 1957.pdf" download="book.pdf" id="menu">
                <img src="../assets/flip-page/download.png" alt="ჩამოტვირთე" id="download">
            </a>
        </div>
    </section>

    <section id="main-content">
        <div id="pdf-container">
            <img src="../assets/flip-page/loader.gif" alt="იტვირთება" id="loader">
            <img src="../assets/flip-page/open-book-transparent-background-png_185216-741.png">
        </div>
    </section>

    <section id="flip-page-footer">
        <div class="page">
            <i class='bx bx-chevron-left' id="prev"></i>
            <p class="current-page" id="current-page">0</p>
            <p>/</p>
            <p class="total-pages" id="total-pages"></p>
            <i class='bx bx-chevron-right' id="next"></i>
        </div>
    </section>

    <script src="../js/flip-page.js"></script>
</body>
</html>