$header-blue: #0468dc;
$text-color: #333333;

.about-project-header {
  a {
    transition: color 0.2s;
    &:hover {
      color: #fff !important;
    }
  }
}

.about-main {
  font-family: FiraGo400;

  .landing-photo-wrapper::before {
    display: none;
  }

  section {
    margin-bottom: 40px;
  }

  h2 {
    margin-bottom: 16px;
    @include text_font_style($header-blue, FiraGO700, 32px, bold);
  }

  p,
  .instructions-page li {
    @include text_font_style($text-color, FiraGO350, 18px, 350);
    line-height: 1.5;
  }

  .about-project-section article > p:last-child {
    margin-top: 45px;
  } //space between last <p> and previous one in articles

  .instructions-page ul {
    @include flex();
    flex-direction: column;
    gap: 20px;
  }

  .contacts-section {
    margin-bottom: 64px;

    & > div {
      display: grid;
      grid-template-columns: 45fr 55fr;

      ul {
        @include flex(space-around, baseline);
        flex-direction: column;
        padding: 30px 0;

        li {
          // @include flex();
          // gap: 20px;

          &:nth-of-type(2) {
            text-decoration: underline;
          }

          a {
            @include flex();
            gap: 20px;
            @include text_font_style($text-color, Firago500, 22px, 500);
            line-height: 26px;
          }
        }

        img {
          width: 40px;
          aspect-ratio: 1;
        }
      }

      .iframe-div {
        display: flex;
      }

      iframe {
        flex: 1;
        width: 100%;
        height: 288px;

        border-radius: 10px;
        border: 2px solid #0468dc;
      }
    }
  }
}

.about-project-footer {
  .contacts-container {
    h2 {
      @include text_font_style(#fff, FiraGO700, 22px, 700);
    }
  }

  .contacts-wrapper {
    a {
      margin-top: 16px;

      @include flex(flex-start);
      gap: 20px;
      @include text_font_style(#fff, inherit, 16px, 400);
      font-family: Firago400;
      line-height: 26px;

      img {
        height: 40px;
        width: 40px;
        aspect-ratio: 1;
      }
    }
    li:nth-of-type(2),
    li:nth-of-type(4) {
      text-decoration: underline;
    }
  }
  .usage-container > a:first-of-type {
    @include text_font_style(#fff, FiraGO700, 22px, 700);
  }

  .usage-container > a:last-of-type {
    margin-top: 40px;

    @include text_font_style(#fff, FiraGO400, 16px, 400);
  }

  .footer-additional-info {
    background-color: $header-blue;
    & > aside p {
      @include text_font_style(#fff, FiraGO300, 12px, 300);
      padding: 30px;
    }
  }
}
