$header-blue: #0468dc;
$text-color: #333333;

.about-project-header {
  a {
    transition: color 0.2s;
    &:hover {
      color: #fff !important;
    }
  }
}

.about-main {
  .main-content-wrapper {
    padding-top: 0;
  }

  .landing-photo-wrapper::before {
    display: none;
  }

  section {
    margin-top: 64px;
    padding-top: 0;
  }

  h2 {
    margin-bottom: 16px;
    @include text_font_style($header-blue, FiraGo700, 32px, bold);
  }

  p,
  .instructions-page li {
    @include text_font_style($text-color, FiraGo350, 18px, 350);
    line-height: 1.5;
  }

  .about-project-section article > p:last-child {
    margin-top: 45px;
  } //space between last <p> and previous one in articles

  .instructions-page {
    margin-top: 64px;
    ul {
      @include flex();
      flex-direction: column;
      gap: 20px;
    }
  }

  .contacts-section {
    margin-bottom: 64px;

    & > div {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 154px;

      // grid-template-columns: 3fr 7fr;

      & > div {
        @include flex(space-between, center);
        flex-direction: column;
        gap: 56px;

        > h2 {
          margin-bottom: 0;
        }
      }
      ul {
        @include flex(space-around, baseline);
        flex-direction: column;
        padding: 0;
        width: 100%;
        gap: 8px;

        li {
          &:nth-of-type(2) {
            text-decoration: underline;
          }

          a {
            @include flex();
            gap: 16px;
            @include text_font_style($text-color, Firago500, 22px, 500);
            font-family: inherit;
            line-height: 26px;
          }
        }

        img {
          width: 40px;
          aspect-ratio: 1;
        }
      }

      .iframe-div {
        display: flex;
      }

      iframe {
        flex: 1;
        width: 100%;
        // width: 1111px;
        height: 288px;

        border-radius: 10px;
        border: 2px solid #0468dc;
      }
    }
  }
}

.about-project-footer {
  .contacts-container {
    gap: 40px;
    h2 {
      @include text_font_style(#fff, FiraGo700, 22px, 700);
    }
  }

  .contacts-wrapper {
    margin-top: 0 !important;
    a {
      margin-bottom: 16px;

      @include flex(flex-start);
      gap: 20px;
      @include text_font_style(#fff, inherit, 16px, 400);
      font-family: Firago400;
      line-height: 26px;

      img {
        height: 40px;
        width: 40px;
        aspect-ratio: 1;
      }
    }
    li:nth-of-type(2),
    li:nth-of-type(4) {
      text-decoration: underline;
    }
    li:last-child a {
      margin-bottom: 0;
    }
  }
  .usage-container > a:first-of-type {
    @include text_font_style(#fff, FiraGo700, 22px, 700);
  }

  .usage-container > a:last-of-type {
    // margin-top: 18px;

    @include text_font_style(#fff, FiraGo400, 16px, 400);
  }

  .footer-main-info {
    .container {
      padding: 46px 0;
    }
  }

  .footer-additional-info {
    background-color: $header-blue;
    & > aside p {
      @include text_font_style(#fff, FiraGo300, 12px, 300);
      padding: 30px 0;
    }
  }
}
