.dotted-line {
  flex-wrap: wrap;
  overflow: hidden;
}

.book-details-body-container {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
}

.book-main {
  background-color: #f5f5f5;

  .book-container {
    max-width: 1680px;
    // //////////////////////////////////////////
    // min-height: 1249px;
    // //////////////////////////////////////////

    margin: 64px auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 72px;

    .cover-wrapper {
      display: flex;
      flex-direction: column;

      img {
        max-width: 504px;

        height: 685px;
        margin-bottom: 16px;
        border-radius: 20px;
      }

      a {
        @include Bookbutton(#0468dc, #ffffff, 16px, 12px, none, 24px, 350);
        font-family: $font-family;
        text-align: center;

        height: 61px;
        transition: all 0.2s;

        &:hover {
          background-color: rgba(0, 119, 255, 1);
        }
      }
    }

    .info-wrapper {
      display: flex;
      flex-direction: column;
      //
      // overflow-x: scroll;
      overflow: auto;
      //
      .main-info {
        display: flex;
        flex-direction: column;

        h3 {
          margin-bottom: 16px;
          font-family: $font-family;
          font-size: 36px;
          font-weight: 600;
          color: #333;
        }

        p {
          margin-bottom: 40px;
          font-family: $font-family;
          font-size: 18px;
          font-weight: 600;
          // color: rgba(60, 60, 67, 0.6);
          color: rgba(60, 60, 67, 0.6);
        }

        .book-info {
          display: flex;
          flex-direction: column;
          gap: 10px;

          div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 16px;

            img {
              width: 24px;
              height: 24px;
              filter: opacity(45%);
            }

            span {
              font-family: $font-family;
              font-size: 16px;
              font-weight: 350;
              color: rgba(60, 60, 67, 0.6);
            }
          }
        }
      }
      .button-wrapper {
        margin: 40px 0 16px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 46px;

        button {
          background-color: transparent;
          color: #333333;
          padding: 0 0 8px 0;
          border: none;
          font-family: FiraGO500;
          font-size: 20px;
          font-weight: 500;

          &.focused {
            color: #0468dc;
            border-bottom: #0468dc solid 3px;
          }
        }
      }

      .anotation-section {
        width: 100%;
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 32px;
          font-family: $font-family;
          font-size: 18px;
          font-weight: 350;
          line-height: 1.5;
          color: #333;
        }

        div {
          display: flex;
          flex-direction: column;
          gap: 13px;

          span {
            font-family: $font-family;
            font-size: 16px;
            font-weight: 300;
            color: #333;
          }
        }
      }

      .feature-section {
        ul {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 18px;

          li {
            padding-bottom: 8px;
            border-bottom: 1px dashed #d0d0d0;
            font-family: $font-family;
            font-size: 24px;
            font-weight: normal;
            color: #000;

            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }

      .searching-section {
        max-width: 1140px;

        // margin-top: 40px;
        .each_content_line {
          display: flex;
          // justify-content: space-between;
          gap: 16px;

          p {
            min-width: 100px;
            margin-bottom: 34px;
            font-family: $font-family;
            font-size: 18px;
            font-weight: 400;
            color: #333;
            line-height: 21.6px;

            &:nth-child(2) {
              letter-spacing: 0.25em;
            }
          }
        }
      }

      .anotation-section,
      .feature-section,
      .searching-section {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0s ease-out, opacity 0.4s ease-out;
        opacity: 0;
      }

      .feature-section {
        ul {
          li {
            font-size: 14px;
            font-weight: 350;
            color: rgba(60, 60, 67, 0.6);
          }
        }
      }

      .open {
        max-height: 100% !important;
        opacity: 1;
      }
    }
  }

  .similar-books {
    margin-bottom: 110px;
    background-color: #fff;

    .similar-books-container {
      max-width: 1680px;
      &.main-content-wrapper {
        padding-top: 36px;
        padding-bottom: 43px;
      }
    }
    h3 {
      margin-bottom: 28px;
      font-family: $font-family;
      font-size: 36px;
      font-weight: 600;
      color: #333;
    }

    .books-box {
      display: flex;
      justify-content: space-between;
      // overflow-x: scroll;
      overflow: auto;

      .book-cover {
        width: 100%;
        height: auto;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }

    /*.cards-wrapper {
      /*display: flex;
      align-items: center;
      justify-content: space-between;

      .card {
        border-radius: 10px;
        border: solid 1px #c2c2c2;
        background-color: #fff;

        img {
          width: 275px;
          height: 420px;
        }
        div {
          padding: 16px;

          h4 {
            margin-bottom: 40px;
            font-family: $font-family;
            font-size: 20px;
            font-weight: 500;
            color: #000;
          }

          p {
            margin-bottom: 22.5px;
            font-family: $font-family;
            font-size: 16px;
            font-weight: normal;
            color: #000;
          }

          div {
            padding: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            span {
              font-family: $font-family;
              font-size: 16px;
              font-weight: normal;
              color: #000;
            }

            div {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 5;

              img {
                width: 22px;
                height: 15px;
              }

              span {
                font-family: $font-family;
                font-size: 16px;
                font-weight: bold;
                color: #13297f;
              }
            }
          }
        }
      }
    }*/
  }
}
